<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name> Mamisoa </display-name>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu2060.framework.servlet.FrontServlet</servlet-class>
        <init-param>
            <param-name>modelPackage</param-name>
            <param-value>sorona</param-value>
        </init-param>
        <init-param>
            <param-name>Session</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
